<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{305.0,358.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>ponyo.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_center.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{48.0,89.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{48.0,89.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{48.0,89.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{253.0,186.0},{48.0,89.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_left.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{66.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,96.0},{66.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_right.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{67.0,92.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{67.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{67.0,92.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{67.0,92.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_shadow_center.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,122.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{81.0,127.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,2.0},{66.0,122.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{93.0,232.0},{66.0,122.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_shadow_left.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,118.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{101.0,125.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,3.0},{90.0,118.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{161.0,232.0},{90.0,118.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ponyo_shadow_right.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{89.0,122.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{98.0,126.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,2.0},{89.0,122.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{89.0,122.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
