<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1295.0,1872.0}</string>
        <key>name</key>
        <string>town</string>
        <key>textureFileName</key>
        <string>town.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>car_1_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,103.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1075.0,1248.0},{213.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_1_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,206.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,206.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,206.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{863.0,626.0},{213.0,206.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_1_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{216.0,309.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{216.0,309.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{216.0,309.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{430.0,626.0},{216.0,309.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_1_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,412.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,412.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,412.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{447.0,1454.0},{213.0,412.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_1_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,515.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,515.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,515.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1078.0,626.0},{213.0,515.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_1_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,618.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,618.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,618.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{217.0,1018.0},{213.0,618.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_2_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,515.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,515.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{426.0,515.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{432.0,937.0},{426.0,515.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_2_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,618.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,618.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{426.0,618.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,398.0},{426.0,618.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_3_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{639.0,309.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{639.0,309.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{639.0,309.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,315.0},{639.0,309.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>car_3_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,394.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,394.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,394.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{640.0,394.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,103.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1075.0,1143.0},{213.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,206.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,206.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,206.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,1638.0},{213.0,206.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,309.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,309.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,309.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{648.0,626.0},{213.0,309.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,412.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,412.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,412.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{662.0,1454.0},{213.0,412.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,515.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,515.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,515.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{860.0,937.0},{213.0,515.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>light_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{213.0,620.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{213.0,620.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{213.0,620.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1018.0},{213.0,620.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1640.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>road.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,206.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,206.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,206.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,2.0},{640.0,206.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>roof.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,103.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,210.0},{640.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
